*{
    margin:0;
    padding:0;
}
html,body{
    background-color: rgb(243, 243, 243);
    font-family:sans-serif;
    font-size: medium;
    height:100%;
    position: relative;
   
}
header{
    background-color: rgb(5, 6, 20);
    height:3em;
    color:white;
    width: 100%;
    padding:20px;

}
#herotext{
    display:inline-flex;
}

#navbar{
 height:100%;
}
#navbar div{
    display:inline-flex;
    flex-direction: column;
    text-align: end;
    height: 100%;
   

}
#navbar a{
    text-decoration: none;
}
.navLink{
   
    color: rgba(246, 244, 244, 0.397);
    display:inline-block;
    font-size: 1.5em;
    padding:0 20px;
    
}
.brand a{
   
    color: rgba(196, 228, 238, 0.452);
    display:inline-block;
    font-size: 1.8em;
    font-family: cursive;
    font-weight: 900;
    padding:0 20px; 
}



footer{
    position:absolute;
    height:50px;
    width: 100%;
    background-color: bisque;
    bottom:0;
    text-align:center;
    padding:10px 20px;


} 