*{
    margin:0;
    padding:0;
}
html,body{
    /* background-color: rgb(243, 243, 243); */
    font-family:sans-serif;
    font-size: medium;
    height:100%;
    position: relative;
    overflow-x: hidden;
   
   
}

header{
    background-color: rgb(5, 6, 20);
    height:3em;
    color:white;
    width: 100%;
    padding:20px;

}
#herotext{
    display:inline-flex;
}
a{
    text-decoration: none;
}
#navbar{
 height:100%;
}
.brand,.nav_item{
    display:inline-flex;
    text-align: end;
    height: 100%;
   

}
 

.navLink{
   
    color: rgba(246, 244, 244, 0.397);
    display:inline-block;
    font-size: 1.5em;
    padding:0 20px;
    
}
.brand a{
   
    color: rgba(196, 228, 238, 0.452);
    display:inline-block;
    font-size: 1.8em;
    font-family: cursive;
    font-weight: 900;
    padding:0 20px; 

}
a:active{
  
    color:rgb(255, 250, 250);
}
a:focus{
    color:rgb(255, 250, 250); 
}
.mainwrapper{
    height:100%;
    width:60%;
    margin-left:-150px;
    background-color:rgb(255, 255, 255);
    transform: skew(-20deg);
}
.quote{
    /* border:1px solid rgba(128, 128, 128, 0.897); */
    background-color: rgba(26, 27, 31, 0.164);
    margin:20px 30%;
    padding:20px;
    align-items: center;
    width:fit-content;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 2px 10px 10px -2px;
    transform:skewX(20deg);
    transform:skewY(-2deg);

}
#qt{

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}
footer{
    position:absolute;
    height:50px;
    width: 100%;
    background-color: rgba(255, 228, 196, 0.267);
    bottom:0;
    text-align:center;
    padding:10px 20px;


} 